body {
  width: 100vw;
  min-height: 100vh;
  background-color: #282c34;
}

.App {
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.5rem;
}

.form-group input {
  height: 28px;
  width: 300px;
  font-size: 20px;
}

h1 {
  margin: 0;
}

h3 span{
  color: green;
  padding: 0 5px;
}

.img-hidden {
  display: hidden;
}

.canvas {
  border: 1px solid red;
}
